# dependencies
/node_modules

# dotenv environment variables file
.env
.env.build
.env.production

# Logs
yarn-error.log*

# Certificates
certificate.crt
certificate.key

# database data
/database/data